<div class="row">
    <div class="col-lg-4">
        <h2>Bar Chart</h2>
        <canvas id="barchart"></canvas>
    </div>

    <div class="col-lg-4">
        <h2>Pie Chart</h2>
        <canvas id="piechart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Doughnut Chart</h2>
        <canvas id="doughnutchart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Polar Area Chart</h2>
        <canvas id="pachart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Radar Chart</h2>
        <canvas id="radarchart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Radar Chart</h2>
        <canvas id="linechart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Bubble Chart</h2>
        <canvas id="bubblechart"></canvas>
    </div>
    <div class="col-lg-4">
        <h2>Scatter Chart</h2>
        <canvas id="scatterchart"></canvas>
    </div>
    
</div>