<header>
  <nav class="flex justify-between items-center bg-slate-800">
    <div>
      <h4 class="mt-2 ml-5 text-gray-100 text-3xl">Bruh</h4>
    </div>
    <div class="flex w-full justify-between items-center">
      <ul class="flex gap-5 mx-auto cursor-pointer items-center mt-3">
        <li
          class="border-1 rounded-md p-2 hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)]"
        >
          <a class="text-white no-underline" routerLink="dashboard"
            >Dashboard</a
          >
        </li>
        <li
          class="border-1 rounded-md p-2 hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)]"
        >
          <a class="text-white no-underline" routerLink="registration"
            >Registration</a
          >
        </li>
        <li
          class="border-1 rounded-md p-2 hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)]"
        >
          <a class="text-white no-underline" routerLink="invoice"
            >Add Invoice</a
          >
        </li>
        <li
          class="border-1 rounded-md p-2 hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)]"
        >
          <a class="text-white no-underline" routerLink="help">Help</a>
        </li>
      </ul>

      <div
        class="cursor-pointer mr-5 border-1 rounded-2xl p-2 text-white text-md hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)] hover:scale-105 transition duration-100"
      >
        Log Out
      </div>
    </div>
  </nav>
</header>
